<head>
  <meta charset="utf-8">
  <%- partial('google-analytics') %>
  <%- partial('baidu-analytics') %>
  <%- partial('gauges-analytics') %>
  <%
  var title = page.title;

  if (is_archive()){
    title = __('archive_a');

    if (is_month()){
      title += ': ' + page.year + '/' + page.month;
    } else if (is_year()){
      title += ': ' + page.year;
    }
  } else if (is_category()){
    title = __('category') + ': ' + page.category;
  } else if (is_tag()){
    title = __('tag') + ': ' + page.tag;
  }
  %>
  <title><% if (title){ %><%= title %> | <% } %><%= config.title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="preload" href="<%- url_for("/css/fonts/Roboto-Regular.ttf") %>" as="font" type="font/ttf" crossorigin="anonymous">
  <link rel="preload" href="<%- url_for("/css/fonts/Roboto-Bold.ttf") %>" as="font" type="font/ttf" crossorigin="anonymous">

  <%- open_graph({twitter_id: theme.twitter, fb_admins: theme.fb_admins, fb_app_id: theme.fb_app_id}) %>
  <%
  let ogImage = '';
  function isAbsoluteUrl(url) {
    return /^https?:\/\//i.test(url);
  }
  if (page.og_image) {
    // If posts is specified the image for OGP then use that.
    if (isAbsoluteUrl(page.og_image)) {
      ogImage = page.og_image;
    } else {
      ogImage = config.url + (page.og_image.startsWith('/') ? page.og_image : '/' + page.og_image);
    }
  } else if (config.og_image) {
    // Default OGP image for entire website.
    ogImage = config.url + (config.og_image.startsWith('/') ? config.og_image : '/' + config.og_image);
  }
  %>
  <% if (ogImage) { %>
  <meta property="og:image" content="<%= ogImage %>">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="630">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:image" content="<%= ogImage %>">
  <% } %>


  <% if (config.feed) { %>
    <%- feed_tag() %>
  <% } else if (theme.rss) { %>
    <%- feed_tag(theme.rss) %>
  <% } %>
  <% if (theme.favicon){ %>
    <%- favicon_tag(theme.favicon) %>
  <% } else { %>
    <link rel="icon" media="(prefers-color-scheme: light)" href="<%- url_for("/images/favicon-light-32.png") %>" sizes="32x32">
    <link rel="icon" media="(prefers-color-scheme: light)" href="<%- url_for("/images/favicon-light-128.png") %>" sizes="128x128">
    <link rel="icon" media="(prefers-color-scheme: light)" href="<%- url_for("/images/favicon-light-180.png") %>" sizes="180x180">
    <link rel="icon" media="(prefers-color-scheme: light)" href="<%- url_for("/images/favicon-light-192.png") %>" sizes="192x192">
    <link rel="icon" media="(prefers-color-scheme: dark)" href="<%- url_for("/images/favicon-dark-32.png") %>" sizes="32x32">
    <link rel="icon" media="(prefers-color-scheme: dark)" href="<%- url_for("/images/favicon-dark-128.png") %>" sizes="128x128">
    <link rel="icon" media="(prefers-color-scheme: dark)" href="<%- url_for("/images/favicon-dark-180.png") %>" sizes="180x180">
    <link rel="icon" media="(prefers-color-scheme: dark)" href="<%- url_for("/images/favicon-dark-192.png") %>" sizes="192x192">
  <% } %>
  <% if (theme.comment.waline && theme.comment.waline.enable) { %>
    <link
      rel="stylesheet"
      href="https://cdn.staticfile.net/waline/3.0.0-alpha.9/waline.css"
    />
  <% } %>
  <%- css('css/style') %>
</head>
